{% load static wagtailuserbar menus_tags %}

{% get_menu "main" as nav %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/GirlsInSpace.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% for item in nav.menu_items.all %}
            <li>
                <a href="{{ item.link }}"{% if item.open_in_new_tab %} target="blank"{% endif %}>{{ item.title }}</a>
            </li>
        {% endfor %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/GirlsInSpace.js' %}"></script>

        {% block extra_js %}
        <script>
            $(".wrapper .single-item > span").on("mouseenter mouseleave", function(e){
                $(".wrapper .single-item.active").removeClass("active");
                $(this).parent().addClass("active");
            });
        </script>
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
