body{
    background: #8ac5e2;
    color: #fff;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 8%;
}

p{
    font-size: x-large;
}

.rich-text img.richtext-image.right, .rich-text img.richtext-image.full-width{
    float: right;
    clear: left;
    margin: 1rem;
  }
  
  .rich-text img.richtext-image.left{
    float: left;
    clear: right;
    margin: 1rem;
  }

a:hover {
    text-decoration: none;
}

.wrapper{
    position: relative;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    height: 400px;
    padding: 0;
    overflow: auto;
}

.line-area{
    display: block;
    width: 8400px;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 50%;
}

.wrapper .timeline-area{
    height: 100%;
    width: 8400px;
}

.single-item{
    width: 240px;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 7px;
    transition: width .5s;
    z-index: 1;
}

.single-item > span{
    height: 32px;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 100%;
    cursor: pointer;
}

.single-item > span:before{
    content:'';
    display: block;
    width: 16px;
    height: 16px;
    background: #ddd;
    margin: 0 auto 8px auto;
    border-radius: 50%;
}

.img-area{
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50%;
    width: 100%;
}

.img-area a{
    display: block;
    width: 100%;
    height: 100%;
}

.img-area a img{
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    border: 5px solid #fff;
}

.img-area a .text-area{
    background-color: #fff;
    border-radius: 10px;
    width: 250%;
    margin-left: -75%;
    top: 0;
    bottom: -100px;
    left: 0;
    font-size: 20px;
    text-decoration: none;
    color: #ddd;
    box-shadow: -5px 5px 10px 5px #555555;
}

.img-area a .text-area > span{
    text-transform: uppercase;
    background-color: #157ab5;
    display: inline-block;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-area a .text-area > p{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #555555;
}

.img-area a .text-area:after{
    margin-left: 5px;
}

.single-item.active{
    width: 160px;
}

.single-item.active .img-area{
    display: block;
}